body, html{
	height: 100%;
}

.front-page-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("MountainBackground.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.about-page {
	background-color: #0f1008;
	color: white;
	margin-bottom: 25px;
}

.project-page {
	background-color: #0f1008;
	color: white;
	margin-top: 25px;
}

.contact-page {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	color: black;
}

.intro-text {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.about-paragraph {
	height: 50%;
	color: white;
}

nav {
	color: white;
	height: 50px;
	background-color: #535449;
}

a:hover {
	color: #88867c
}

a.tab {
	color: white;
}

a.tab:hover {
	color: #0f1008;
}

#clinikcal:hover {
	 color:#88867c;
}

.card-link {
	color: white;
}

.card-link:hover{
	color:#88867c;
}

a.linkedin:hover {
	color: #0e76a8;
}

a.github:hover {
	color: #f34f29;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 2.5em;
}

.linkedin {
	padding-right: 2em;
	padding-left: 2em;
}



#aboutLine {
	color: white;
}

img {
	height: 450px;
	width: 300px;
	border-radius: 8px;
}

.dates {
	position:right;
}

.project-screenshot, .carousel-item {
	height: 270px;
	width: 400px;
	text-align: center;
}

.card {
	background-color:  #0f1008;
	padding-right: 10px;
	padding-left: 10px;
}


#resumeDownload {
	color: black;
	padding-left: 10px;
}

.contact {
	color: black;
	padding-right: 2em;
	padding-left: 2em;
}

.icons {
	margin-left:auto;
	margin-right:auto;
	display: block;
}

.nav-item {
	text-align: right;
}

@media (max-width: 991px) {
	nav.navbar {
		font-size: 20px;
	}
	.navbar-collapse {
		background-color: #1b1c11;
		color: white;
		width: 25%;
	}
}

footer {
	background-color: #0f1008;
	color: white;
	font-size: 8px;
}

#signature {
	height: 100px;
	width: 200px;
	float: right;
	padding-right: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 75px;
  outline: black;
  background-size: 75%, 75%;
  background-image: none;
  content: '>';
  color: black;
  font-size: 25px;
}

.carousel-control-next-icon:after
{
  content: '>';
  color: black;
  font-size: 25px;
}

.carousel-control-prev {
	margin-left: -5%;
}

.carousel-control-next {
	margin-right: 5%;
}

.carousel-control-prev-icon:after {
  content: '<';
  color: black;
    font-size: 25px;
}
